body{
    margin: 0 auto;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.space-at-bottom {
    margin-bottom: 3%;
}

.test-border {
    border: 1px solid black;
}

.filler-content{
    background-color: blue;
    width: 100vw;
    height: 2000px;
}

.image-responsive {
    width: 100%;
    display: block;
    height: 100vh;
    max-width: 100%;
}

.img-centify {
    left: 10px;
}

.image-containter {
    position: relative;
}

.bg-black {
    background-color: black;
}

.bg-red {
    background-color: red;
    border-radius: 10px;
}

#navbar {
    z-index: 5;
}

nav {
    width: 100vw;
    background-color: black;
    margin: 0;
    text-align: left;
    padding: 10px 0;
    
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

nav a{
    color: yellow;
    padding: 0 20px;
}

nav a:hover {
    color: red;
    text-decoration: none;
}

.intro {
    margin-top: 100px;
}

.chapter {
    text-decoration: underline;
    padding-top: 10%;
    text-align: center;
    color: white;
    font-size: 2em;
}

.subchapter {
    text-align: center;
    color: white;
    padding-bottom: 10%;
    font-size: 1.5em;
}

.img-hook {
    padding-top: 5%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
   max-width: 100%;
    height: auto;
}

.movie-poster{
    padding-top: 5%; 
    position: relative;
    max-width: 100%;
    height: auto;
}

.img-death-list {
    width: 60%;
}

.img-massacre {
    width: 85%;
}

.img-cross-number-two {
    width: 70%;
}

.img-middle-align {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.img-chapter-one {
    width: 100%;
}

.img-jan-pt1 {
    width: 100%;
}

.img-jan-pt2{
    width: 150%;
}

.img-sofia {
    width: 90%;
}

.img-pai-mai {
    width: 890%;
}

.img-bigger {
    width: 110%;
}

.img-karate {
    width: 90%;
}

.img-wirework{
    width: 115%;
}

.line {
    background-color: red;
    border-radius: 10px;

}

.img-uma{
    width:100%;
}

.img-bruce{
    width: 55%;

}

.img-anime
{
    width: 65%;
}

.img-fuzzy{
    width: 50%;
}